.header{
    text-align: center;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    text-align: left;
    margin-top: 20px;
   
}
.header nav a{
text-decoration: none;
margin:0 10px;
color: white;
font-size: 18px;
padding: 5px 10px;

}
.header nav a:hover{
    background-color: lightgray;
}
.logo{
    width: 250px;
    
}
.login{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.user-name{
    color: white;
    margin-right: 25px;
    margin-left: 5px;
    font-weight: 500;
}